<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Form</title>
        <style>
            
            .center {
            border: 5px solid #FFFF00;
            text-align: center;
            }
        </style>
    </head>
    <body>
        <h2 style="color:rgb(37, 3, 3);" id = "result"> {{status}}</h2>
        <div class="center">
        <form action="/login" method = "POST">
            <label>Enter first name</label>  
            <input type="text" name="firstname"><br><br>    
            <label>Enter last name</label>  
            <input type="text" name="lastname"><br>  <br>  
            <label>Enter Password</label>
            <input type="Password" name="password"><br><br>  
            <label> Select Cars </label>  
            <select name="fcar">  
                <option value = "None"> Select..</option>
                <option value = "BMW"> BMW</option>  
                <option value = "Mercedes"> Mercedes </option>  
                <option value = "Audi"> Audi</option>  
                <option value = "Skoda"> Skoda </option>  
            </select><br>  <br>  
            <p><input type = "submit" value = "Submit" /></p>
        </form>
        <br>
        <br>
        <a href="/users">Show existing users</a>
        </div>
    </body>
</html>